openshift-install
ocp-key
ocp-key.pub
.python-version
deploy/.openshift*
terraform/.terraform
terraform.*
terraform/*.ova
terraform/*.ovf
terraform/*.vmdk
terraform/govc_env
deploy/auth/*
install-config.yaml
